.topButton{
    -fx-background-color: #81b64c;
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: "cubik";
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-effect: dropshadow( two-pass-box,rgba(69, 117, 60, 1.0), 2, 0.9, 0, 7);

}

.botButton{
    -fx-background-color: #454341;
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: "cubik";
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-effect: dropshadow( two-pass-box,rgba(62,60,58,255), 2, 0.9, 0, 7);

}

.topText{
    -fx-text-fill: white;
    -fx-font-size: 40;
    -fx-font-family: "cubik";
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.VBox{
    -fx-background-color: rgb(38, 37, 34);
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

